<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/backend/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Backend">
            <directory>tests/backend</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">backend</directory>
        </include>
    </coverage>
</phpunit>
